### ------------------------------------- ###
# This file creates the necessary API paths #
### ------------------------------------- ###

# ===================
# Data entry types
#
# list -> concatenated without quotation marks ""
#    Example: HOSTS = host1,host2,host3
#
# int -> Number
#    Example: PORT = 8080
#
# boolean -> True/False
#    Example: ALLOW_CREDENTIALS = True
#
# string -> Word without quotation marks ""
#    Example: REGISTER_PATH = /Register
# ===================

## Settings needed by Uvicorn

HOST = YOUR_HOST # string
PORT = YOUR_PORT # int

## External Services
CLOUD_API = <Cloud Api Host>

## GCP Config
GOOGLE_APPLICATION_CREDENTIALS = < GCP path of key as json >
GCP_PROJECT = < GCP project configuration >
GCP_BUCKET_NAME = < GCP bucket name to storage information >
